.CarouselSection__Component {
    box-shadow: 0.3em 0.3em 0.6em 0.3em hsla(120, 0%, 0%, 0.3);
    margin: 2em auto;
    width: calc(100% - 3em);
    max-width: 1200px;
    transition: all 400ms;
}

@media (min-width: 800px) {
    .CarouselSection__Component {
        box-shadow: 0.5em 0.5em 1em 0.5em hsla(120, 0%, 0%, 0.15);
        margin: 4em auto;
        width: 80%;
    }
}

.CarouselSection__Component .control-dots {
    top: 0;
}

.Carousel-Item {
    height: 30vw;
    max-height: 22em;
    min-height: 16em;
}

.Carousel-Item > img {
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.CarouselSection__Label {
    background: var(--preto);
    box-sizing: border-box;
    color: var(--branco);
    font-variation-settings: 'wght' 450;
    max-width: 45em;
    min-width: 26em;
    padding: 3.5em 3em 1.5em;
    position: relative;
    top: -7em;
    width: 60%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: -7em;
}

.CompanyText {
    color: var(--preto);
    font-size: 0.95em;
    margin: 2em auto;
    width: calc(100% - 3em);
    max-width: 1200px;
    /* font-variation-settings: 'wght' 350; */
    columns: 3 20em;
    text-justify: inter-word;
    text-align: justify;
}

@media (min-width: 800px) {
    .CompanyText {
        margin: 4em auto 1em;
        width: 80%;
    }
}

.CompanyText > p:first-child {
    margin-top: 0;
}

.CompanyText > p:last-child {
    margin-bottom: 0;
}

.TransactionSteps {
    max-width: 1200px;
    margin: 0 auto;
    width: calc(100% - 3em);
}

@media (min-width: 800px) {
    .TransactionSteps {
        width: 80%;
    }
}

.TransactionSteps__wrapper {
    background: var(--cinza);
    background: #fae4cd;
    display: flex;
    margin: 9em auto 0;
    justify-content: center;
    box-sizing: border-box;
    gap: 2em;
    padding: 4em 0;
}

.TransactionSteps__Step {
    background: var(--branco);
    box-shadow: 0.5em 0.5em 1em 0.5em hsla(120, 0%, 0%, 0.15);
    display: flex;
    flex-direction: column;
    margin: -12em 0 0;
    /* flex: 1; */
    position: relative;
    width: min-content;
}

.TransactionSteps__Step-Count {
    font-size: 4rem;
    line-height: 100%;
    font-variation-settings: 'wght' 620;
    left: 1rem;
    position: absolute;
    /* top: 6.8rem; */
    bottom: 10%;
    opacity: .2;
}

.TransactionSteps__Step-Text {
    padding: 0.5em 2.6em 1.6em;
    padding: 0.5em 2.6em 1.6em;
    padding: 0.5em .6em 1.6em 4.2em;
}

section > h1 {
    color: var(--vermelho);
    display: inline-block;
    margin: 0 auto;
    /* font-family: Lora; */
    font-family: Jost;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    font-variation-settings: 'wght' 400;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

section > h1::before {
    content: '';
    height: 0.1em;
    width: 3em;
    background: var(--vermelho);
    display: block;
    position: absolute;
    top: 45%;
    left: -3.5em;
}

section > h1::after {
    content: '';
    height: 0.1em;
    width: 3em;
    background: var(--vermelho);
    display: block;
    position: absolute;
    top: 45%;
    right: -3.5em;
}

section > h1[data-inverted] {
    color: white;
}

section > h1[data-inverted]::before,
section > h1[data-inverted]::after {
    background: white;
}

section > h1[leo] {
    color: white;
}