@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,562;0,639;1,400;1,561&family=Work+Sans:ital,wght@0,259;0,531;0,588;1,258;1,531&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@531&display=swap');
/* font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif; */

body {
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-variation-settings: 'wght' 350;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dimensões padrões com font lock. */
:root {
  font-size: calc(10.7px + 0.3vw);
}
@media (max-width: 450px) {
  :root {
    /* background-color: violet; */
    font-size: 12px;
  }
}
@media (min-width: 1600px) {
  :root {
    /* background-color: lawngreen; */
    font-size: 16px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --cinza-claro: #fae4cd;
  --vermelho: #a20021;
  --preto: #2c363f;
  --cinza: #96897b;
  --ciano: #41ead4;
  --branco: #fff;
}